#div{
    font-size: 25px;
}
.test{
    font-size: 30px;
}
.inside{
    font-size: 30px;
}
a[href*="hhc"]{
    color: darkcyan;
}
a[href*="roglebk"]{
    color: limegreen;
}
a[href*="swe"]{
    color: darkgoldenrod;
}
a[href$="html"]{
    color: darkblue;
}