article p:first-child:first-line{
color:green;
}
article:before{
    content: url(./Images/dice.jpg);
}
nav ul{
    list-style-type: none;
}
nav li{
    float: left;
}
li a{
    display: block;
    padding: 8px 16px;
    margin: 3px;
    border-radius: 10px;
    background-color: royalblue;
    color: whitesmoke;
    text-decoration: none;
}